@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: light;

  --brand: 75 112 52;
  --brand-ink: 255 255 255;
  --border: 229 231 235;
  --surface: 255 255 255;
  --muted: 248 250 252;

  --Primary-pr00: 238 240 232; 
  --Primary-pr40: 167 181 144; 
  --Primary-pr60: 110 134 73;
  --Primary-pr80: 66 80 44;    
  --Neutral-nt80: 255 255 255; 
}

body {
  font-family: "REM", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-wasis-pr00: rgb(var(--Primary-pr00));
  --color-wasis-pr40: rgb(var(--Primary-pr40));
  --color-wasis-pr60: rgb(var(--Primary-pr60));
  --color-wasis-pr80: rgb(var(--Primary-pr80));
  --color-wasis-nt80: rgb(var(--Neutral-nt80));
  --color-brand: rgb(var(--brand));
  --color-brand-ink: rgb(var(--brand-ink));
  --color-border: rgb(var(--border));
  --color-surface: rgb(var(--surface));
  --color-muted: rgb(var(--muted));

  --radius-massive: 6.25rem;

  --shadow-card: 0 4px 4px -2px rgba(24,39,75,.08), 0 2px 4px -2px rgba(24,39,75,.12);
  --shadow-modal: 0 8px 28px -6px rgba(24,39,75,.12), 0 18px 88px -4px rgba(24,39,75,.14);

  --animate-hide: hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down-and-fade: slideDownAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slideLeftAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slideUpAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slideRightAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes hide { from { opacity: 1 } to { opacity: 0 } }
  @keyframes slideDownAndFade { from { opacity: 0; transform: translateY(-6px) } to { opacity: 1; transform: translateY(0) } }
  @keyframes slideLeftAndFade { from { opacity: 0; transform: translateX(6px) } to { opacity: 1; transform: translateX(0) } }
  @keyframes slideUpAndFade { from { opacity: 0; transform: translateY(6px) } to { opacity: 1; transform: translateY(0) } }
  @keyframes slideRightAndFade { from { opacity: 0; transform: translateX(-6px) } to { opacity: 1; transform: translateX(0) } }
}

input[type="date"]::-webkit-calendar-picker-indicator { opacity: 0 !important; display: none !important }
input[type="date"]::-moz-calendar-picker-indicator { opacity: 0 !important; display: none !important }

html.editing-mode aside,
html.editing-mode [data-app-sidebar],
html.editing-mode header [data-global-nav],
html.editing-mode nav[data-global-nav] { pointer-events:none!important; filter:grayscale(.6); opacity:.5 }
html.editing-mode [data-page-content] { pointer-events:auto!important; filter:none; opacity:1 }


.after\:shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45%;
  border-radius: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35), transparent);
  pointer-events: none;
}